/* settaggi */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

/* clearfix */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* settaggio grandezza immagine */
.im{
    height: 65px;
    float: left;
}


h1{
    font-family: 'Fredoka One', cursive;
    color:magenta;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

span{
    text-align: center;
    margin-inline: 20%;
    display: block;
}

nav{
    margin-top: 2%;
    margin-inline: 20%;
}

/* inizio creazione schede */

.scheda1{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: left;
    margin-right: 10%;
}

.scheda2{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: left;
    margin-left: 10%;
}

.scheda3{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: right;
}

.scheda4{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: left;
    margin-right: 10%;
    margin-top: 5%;
}

.scheda5{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}

.scheda6{
    background-color: black;
    box-shadow: 0 0 10px 1px;
    float: right;
    margin-top: 5%;
}

/* conclusione creazione schede */

.elementi{
    float: right;
    width: 180px;
    margin-left: 5px;
}

h3{
    margin-top: 5px;
    color: white;
    display: inline-block;
    font-family: 'PT Serif', serif;
}

.white{
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: cyan;
}

